p,h1,h2,h3,h4 {
    font-family: monospace;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .card-img-top {
    height: 150px;
    width: auto;
} */